* {
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: 2em;
    border-top: thin gray solid;
}

.container {
    max-width: 716px;
}

.jumbotron {
    background-image: url("/images/0044_backround_0000.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(32,32,32, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.custom-toggler.navbar-toggler {
    border-color: rgb(32, 32, 32, 1);
    border-width: 2px;
}

.btn-lg {
    text-decoration: none;
    padding: 12px;
    text-align: center;
}

h1 {
    font-family: 'Poppins', cursive;
    font-size: 4em;
    color: darkblue;
}

h2 {
    padding-top: 1em;
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
}

h3 {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.lead {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

p {
    font-family: 'Poppins';
    font-size: 1.2em;
}

.gloss-box {
    background: rgba(230, 220, 210, 0.8);
}

.navbar-custom {
    background-color: #A9C8C7;
}

.navbar-metta {
    background-color: #F0E6DC;
}

.nav-link {
    font-family: 'Caveat', cursive;
    font-size: 1.6em;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-family: 'Comfortaa', cursive;
    font-size: 2.2em;
}